{% extends 'base.html' %}


{% block content %}
<h1>Price list</h1>

<ul class="list-group">
    <li class="list-group-item">Prix max Nord</li>
    <li class="list-group-item">Prix max Nord</li>
    <li class="list-group-item">Prix max Nord</li>
    <li class="list-group-item">Prix max Nord</li>
    <li class="list-group-item">Prix max Nord</li>
    <li class="list-group-item">Prix max Nord</li>
    <li class="list-group-item">Prix max Nord</li>
    <li class="list-group-item">Prix max Nord</li>
    <li class="list-group-item">Prix max Nord</li>
    <li class="list-group-item">Prix max Nord</li>
    <li class="list-group-item">Prix max Nord</li>
    <li class="list-group-item">Prix max Nord</li>
    <li class="list-group-item">Prix max Nord</li>
    <li class="list-group-item">Prix max Nord</li>
    <li class="list-group-item">Prix max Nord</li>


</ul>
{% endblock  %}

